:root {
    --primary-color: #2596be;
    --secondary-color: White;
    --third-color: Yellow;
    --radius: 10px;
}

/* Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    appearance: none;
}

/* General */
body {
    display: grid;
    grid-template-areas:
        "navbar top-panel"
        "navbar top-panel"
        "navbar main"
        "navbar main"
        "navbar main"
        "navbar main"
        "navbar main"
    ;
    grid-template-rows: 180px 1fr;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}

li {
    list-style: none;
}

button:hover {
    cursor: pointer;
}

.card {
    background-color: White;
    border-radius: var(--radius);
    padding: 1rem;
    box-shadow: 0 0 5px 1px #0003;
}

.profile-picture {
    border-radius: calc(50%);
    width: 50px;
    height: 50px;
}

a {
    text-decoration: none;
}

/* Navbar */
nav {
    background-color: var(--primary-color);
    grid-area: navbar;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    padding-left: 1rem;
}

nav * {
    color: White;

}

h1 {
    grid-row: 1;
    padding-top: 1em;
}

.links li a {
    display: flex;
    /* border: 1px dashed; */
    transform: translateX(50px) scale(1.2);
    width: fit-content;
    gap: 1em;
}

.links li a span {
    position: relative;
    transform: translate(5px, 5px);
}


nav .links {
    filter: brightness(0) invert(1);
    gap: 1.3em;
}

img {
    transition: transform 1s ease forwards;
}


.links a:hover img {
    transform: rotate(360deg);
    animation: rotate360 0.4s ease;
}


nav .top-links {
    grid-row: 2/span 2;
    display: grid;
}

nav .extra-links {
    grid-row: 5;
    display: grid;
}


/* Header */
.top-panel {
    background-color: var(--secondary-color);
    color: Black;
    grid-area: top-panel;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(2, 1fr);
    padding: 0 2rem;
}

.searchButton-container {
    grid: 1/1;
    place-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 1px dashed;
}

.searchButton-container img {
    transform: translateY(2px);
}

input[type="search"] {
    background-color: #ddd;
    border-radius: var(--radius);
    width: 80%;
    border: none;
}

.notifications-section {
    grid: 1/2;
    place-self: center;
    display: flex;
    gap: 1em;
}

.notificationIcon-container {
    align-self: flex-end;
    margin-bottom: 5px;
}

.notification-icon {
    width: 30px;
    height: 30px;
}

.notifications-section span {
    font-weight: bold;
    align-self: center;
}


.greetings-section {
    grid: 2/1;
    display: flex;
    align-items: center;
    gap: 1rem;
    transform: translate(50px, -10px);
}

.greeting {
    display: inline;
}

.greetings-section img {
    width: 70px;
    height: 70px;
}

.buttons-section {
    grid: 2/2;
    width: 100%;
    place-self: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1rem;
}

.buttons-section button {
    background-color: var(--primary-color);
    border-radius: var(--radius);
    padding: 5px;
    width: 100px;
    height: 40px;
    color: White;
    box-shadow: 0 0 5px 1px #0008;
    border: 0.1px solid;

}

.buttons-section button:hover {
    animation: shake 0.1s ease-in;
}



/* Main */

main {
    background-color: #eee;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 50px 1fr;
    overflow: auto;
    padding: 2rem;
}

main h3 {
    transform: translateY(10px);
}

.cards-container {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 1rem;
}

.card-title {
    font-weight: bold;
    font-size: 1.2em;
}

.cards-container .card {
    height: 100%;
    width: 100%;
    position: relative;
    padding-left: 2rem;

}

.cards-container .card::before {
    background-color: Yellow;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--radius);
    border-bottom-left-radius: calc(var(--radius));
    border-top-left-radius: calc(var(--radius));

}

/* overflow: auto; */

/* Side */
.side {
    grid-column: 2;
    grid-row: 2/-1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 2rem;
    gap: 3rem;
}

.announcements h3 {
    transform: translateY(-40px);
}

.announcement:nth-child(even) {
    border-bottom: 1px solid Black;
    border-top: 1px solid Black;
}

.announcements:last-child(1) {
    /* This is not working */
    border-bottom: none;
}

.announcement-description {
    margin-bottom: 1rem;
}

.announcement-title {
    font-weight: bold;
    margin-top: 1rem;
}

.announcements-container {
    background-color: White;
    padding: 1em 2em;
    border-radius: var(--radius);
    transform: translateY(-20px);
}

.trending h3 {
    transform: translateY(-20px);

}


.trending-container {
    border-radius: var(--radius);
    background-color: White;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;

}

.trending-container .item {
    display: flex;
    gap: 1rem;
}

.item .item-details {
    align-self: center;
}


@keyframes shake {
    from {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-5deg);

    }

}

@keyframes rotate360 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360);
    }
}
