:root {
    --primary-color: lightblue;
    --secondary-color: White;
    --third-color: Yellow;
}

/* Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px dashed White;
}

body {
    background-color: Black;
    color: White;
    display: grid;
    grid-template-areas:
        "navbar top-panel"
        "navbar top-panel"
        "navbar main"
        "navbar main"
        "navbar main"
    ;
    grid-template-rows: repeat(5, 200px);
    grid-template-columns: 200px 1fr;
    gap: 1rem;
    height: 100vh;
}

nav {
    background-color: var(--primary-color);
    grid-area: navbar;
}

.top-panel {
    background-color: var(--secondary-color);
    color: Black;
    grid-area: top-panel;
}

main {
    background-color: Gray;
    grid-area: main;
}
